.upper-homepage {
  background-image: linear-gradient(to right, #11998e, #38ef7d);
  width: 100%;
  height: 70vh;
}

.showcase {
  font-size: 29px;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini-header {
  margin-top: -20px;
  color: #333;
}
.lower-homepage {
  position: absolute;
  top: 40%;
  left: 12%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lower {
  margin: 20px 12px;
  height: 50%;
  width: 340px;
  background: #fff;
  cursor: pointer;
  /* border: 1px #ddd solid; */
}

.lower-header {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #eee;
  padding: 8px 0;
}
.lower-header.bronze {
  background-image: linear-gradient(to right, #ba8b02, #181818);
}

.lower-header.gold {
  background-image: linear-gradient(to right, #f7971e, #ffd200);
}

.lower-header.silver {
  background-image: linear-gradient(to right, #304352, #d7d2cc);
}

.lower:hover {
  position: relative;
  top: -2%;
  transform: scale(1.05);
  box-shadow: 0 12px 17px 4px rgba(15, 32, 39, 0.3);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.content {
  margin: 20px 0;
  padding: 0 20px;
  font-size: 14px;
}

.content h4 {
  font-size: 17px;
  font-weight: 600;
}

.content p {
  color: #555;
}

.price {
  margin: 40px 0 10px 0;
  text-align: center;
  font-size: 38px;
}

.price.bronze {
  color: #ba8b02;
}

.price.gold {
  color: #ffd200;
}

.price.silver {
  color: #8e9eab;
}

span {
  font-size: 17px;
}
.button {
  cursor: pointer;
  margin: 20px 0;
  margin-left: 27%;
  padding: 0.7rem 1rem;
  font-size: 21px;
  font-weight: 600;
  border-radius: 7px;
  outline: 0;
  color: #eee;
}

.button.bronze {
  background-image: linear-gradient(to right, #ba8b02, #181818);
}

.button.gold {
  background-image: linear-gradient(to right, #f7971e, #ffd200);
}

.button.silver {
  background-image: linear-gradient(to right, #304352, #d7d2cc);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #444;
  margin-top: 15%;
  margin-left: 23%;
  width: 50%;
}
